.Banner .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Banner .image-container > * {
    width: 100%;
}
.Banner .text-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
