.Banner .image-container,
.Banner .text-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.Banner .image-container > * {
    width: 100%;
    margin: 0 auto; /* Add this line */
}
